<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HISM.backfront.mapper.ChatMapper">

    <resultMap id="chatMap" type="com.HISM.backfront.domain.Chat">
        <result column="sendUserId" property="sendUserId"></result>
        <result column="receiveUserId" property="receiveUserId"></result>
        <result column="chatTime" jdbcType="TIMESTAMP" property="chatTime" javaType="java.util.Date"></result>
        <result column="chatContent" property="chatContent"></result>
        <result column="flag" property="flag"></result>
    </resultMap>


    <select id="queryChatRecording" resultMap="chatMap">
        select * from chat where sendUserId = #{sendUserId} and receiveUserId = #{receiveUserId}
    </select>

    <select id="queryChatRecordingt" resultMap="chatMap">
        select * from chat where sendUserId = #{sendUserId} and receiveUserId = #{receiveUserId} and chatTime = #{chatTime}
    </select>

    <insert id="insertChat">
        insert into chat value (#{sendUserId}, #{receiveUserId}, #{chatTime, jdbcType=TIMESTAMP}, #{chatContent})
    </insert>


</mapper>