<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.HISM.backfront.mapper.CommentMapper">
    <resultMap id="commentMap" type="com.HISM.backfront.domain.Comment">
        <id property="commentId" column="commentId" />
        <result column="commentTime" jdbcType="TIMESTAMP" property="commentTime" javaType="java.util.Date" />
        <result column="commentContent" property="commentContent"></result>
        <result column="dynamicId" property="dynamicId"></result>
        <result column="userId" property="userId"></result>
    </resultMap>

    <insert id="insertComment">
        insert into comment (commentTime, commentContent, dynamicId, userId) values (#{commentTime, jdbcType=DATE}, #{commentContent}, #{dynamicId}, #{userId})
    </insert>

    <delete id="deleteComment">
        delete from comment where commentId = #{commentId}
    </delete>

    <select id="selectCommentByD" resultMap="commentMap">
        select * from comment where dynamicId = #{dynamicId}
    </select>

    <select id="isComment" resultType="java.lang.Integer">
        select count(*) from comment where dynamicId = #{dynamicId} and userId = #{userId}
    </select>



</mapper>