<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="com.HISM.backfront.mapper.DynamicMapper">
    <resultMap id="dynamicMap" type="com.HISM.backfront.domain.Dynamic">
        <result column="dynamicTime" jdbcType="TIMESTAMP" property="dynamicTime" javaType="java.util.Date" />
    </resultMap>

    <insert id="insertDynamic">
        insert into dynamic (dynamicIndex1, dynamicIndex2, dynamicState, dynamicContent, dynamicTime, thumbNum, commentNum, tipOffNum, dynamicType, userId)
        values (#{dynamicIndex1}, #{dynamicIndex2}, #{dynamicState}, #{dynamicContent}, #{dynamicTime, jdbcType=DATE}, #{thumbNum}, #{commentNum}, #{tipOffNum}, #{dynamicType}, #{userId})
    </insert>

    <delete id="deleteDynamic">
        delete from dynamic where dynamicId = #{dynamicId}
    </delete>

    <select id="selectDynamicByUserId" resultMap="dynamicMap">
        select * from dynamic where userId = #{userId}
    </select>

    <select id="selectDynamicByDynamicId" resultMap="dynamicMap">
        select * from dynamic where dynamicId = #{dynamicId}
    </select>

    <select id="selectDynamicByTipOffNum" resultMap="dynamicMap">
        select * from dynamic where tipOffNum = #{tipOffNum}
    </select>

    <update id="updateDynamic">
        update dynamic set dynamicIndex1 = #{dynamicIndex1}, dynamicIndex2 = #{dynamicIndex2}, dynamicState = #{dynamicState}, dynamicContent = #{dynamicContent}, dynamicTime = #{dynamicTime, jdbcType=DATE}, thumbNum = #{thumbNum}, commentNum = #{commentNum}, tipOffNum = #{tipOffNum}, dynamicType = #{dynamicType}, userId = #{userId}
        where dynamicId = #{dynamicId}
    </update>

    <select id="selectDynamicAll" resultMap="dynamicMap">
        select * from dynamic
    </select>

    <select id="selectDynamicByState" resultMap="dynamicMap">
        select * from dynamic where dynamicState = #{dynamicState}
    </select>

</mapper>