<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.HISM.backfront.mapper.UserMapper">
    <resultMap id="userMap" type="com.HISM.backfront.domain.User">
    </resultMap>

    <insert id="insertUser">
        insert into user value (#{userId},#{password},#{userName}, #{avatarURL}, #{userAddress},#{userOld}, #{userSex}, #{userDescription}, #{userState}, #{tipOffNum}, #{favorIndex},#{email})
    </insert>
    
    <update id="updateUser">
        update user set username = #{userName}, password = #{password}, useraddress = #{userAddress}, userold = #{userOld}, usersex = #{userSex}, userdescription = #{userDescription}, userState = #{userState}, avatarURL = #{avatarURL}, tipOffNum = #{tipOffNum}, favorIndex = #{favorIndex}
        where userId = #{userId}
    </update>


    <select id="selectUserbyName" resultMap="userMap">
        select * from user where username like concat('%', #{userName, jdbcType=VARCHAR}, '%')
    </select>

    <select id="selectUserbyId" resultMap="userMap">
        select * from user where userId = #{userId}
    </select>

    <select id="getUserNum" resultType="java.lang.Integer">
        select count(*) from user
    </select>

    <select id="getSubscriberByUserId" resultMap="userMap">
        select userId, userName, userAddress, userOld, userSex, userDescription, userState, favorIndex,avatarURL from user where userId in (select userId from follower where followerId = #{followerId})
    </select>

    <select id="getFanByUserId" resultMap="userMap">
        select userId, userName, userAddress, userOld, userSex, userDescription, userState, favorIndex,avatarURL from user where userId in (select followerId from follower where userId = #{userId})
    </select>

    <select id="selectUserByTipOffNum" resultMap="userMap">
        select userId, userName, userAddress, userOld, userSex, userDescription, userState, favorIndex from user where tipOffNum = #{tipOffNum}
    </select>

    <select id="selectUserAll" resultMap="userMap">
        select * from user
    </select>

    <select id="selectUserByState" resultMap="userMap">
        select * from user where userState = #{userState}
    </select>

</mapper>