<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.HISM.backfront.mapper.UserMapper">
    <resultMap id="userMap" type="com.HISM.backfront.domain.User">
        <id property="userName" column="userName" />
        <id property="userName" column="userName" />
        <result property="password" column="password" />
        <result property="userAddress" column="userAddress" />
        <result property="userOld" column="userOld" />
        <result property="userSex" column="userSex" />
        <result property="userDescription" column="userDescription" />
    </resultMap>

    <insert id="insertUser">
        insert into user(userName,password,userName,userAddress,userOld,userSex,userDescription) values (#{userName},#{password},#{userName},#{userAddress},#{userOld},#{userSex},#{userDescription})
    </insert>
    
    <update id="updateUser">
        update user set username = #{userName}, password = #{password}, useraddress = #{userAddress}, userold = #{userOld}, usersex = #{userSex}, userdescription = #{userDescription}
        where userid = #{userName}
    </update>

    <select id="queryUserbyName" resultMap="userMap">
        select * from user where username = #{userName}
    </select>

    <select id="queryUserbyId" resultMap="userMap">
        select * from user where userid = #{userName}
    </select>

    <select id="getUserNum" resultType="java.lang.Integer">
        select count(*) from user
    </select>

    <select id="queryUserListByFollowerId" resultMap="userMap">
        select userId, userName, userAddress, userOld, userSex, userDescription, userState from user where userId in (select userId from follower where followerId = #{followerId})
    </select>


</mapper>